DigestAuthentication/DigestAuthenticationIS_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://DigestAuthenticationIS" xmlns:tns="http://DigestAuthenticationIS">
        <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="authenticate">
        <xsd:complexType>
          <xsd:sequence>
                <xsd:element name="request" nillable="true" type="tns:element"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="authenticateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="tns:element"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>



    <xsd:complexType name="NewType"/>

    <xsd:complexType abstract="false" mixed="true" name="element">
    <xsd:complexContent>
      <xsd:extension base="xsd:anyType"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>